:root {
    --bs-primary: #d1d7e0;
    --bs-secondary: #bac3d1;
    --bs-third: #a6aeba;
    --span-color: #ff2000;
    --font-color: #fff;
    --fourth-color: #999;
    --bs-font-sans-serif: "poppin", sans-serif;
}

body {
    background-color: var(--bs-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
    font-family: "inter", sans-serif;
}

#background-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background-1.jpg");
}

#background-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background-2.jpg");
    background-color: rgba(0, 0, 0, 0.5);

}

#about-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/about.jpg");
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-image {
    background-blend-mode: darken;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.fitness a {
    color: var(--font-color);
}

.fitness a span {
    color: var(--span-color);
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-black);
    --bs-btn-bg: var(--span-color);
    --bs-btn-border-color: var(--span-color);
    --bs-btn-hover-color: var(--bs-orange);
    --bs-btn-hover-bg: #{shade-color($bd-orange, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-orange, 10%)};
    --bs-btn-focus-shadow-rgb: var(--span-color);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-orange, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-orange, 20%)};
}

#hero {
    padding: 20% 0;
}

.gray span {
    color: var(--fourth-color);
}

.card {
    background-color: var(--bs-secondary);
}

.img-section {
    height: 400px;
    width: 310;
}

.section:hover {
    border: 2px solid var(--span-color);
    box-shadow: var(--bs-orange);
    cursor: pointer;
}

#believe {
    padding: 15% 0;
}

#believe>span, .about-head>span {
    color: var(--span-color);
}

.footer-link {
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.15rem;
}

.footer-link:hover {
    color: var(--span-color);
}

.about-head{
    padding-top: 20%;
}
